 
.container {
    display: flex;
    padding: 0 40px;
    align-items: center;
    justify-content: space-between ;
    background-color: black;
}

.container .logo .logo-text {
    color: white;   
    font-size: 30px;
    border-bottom: 10px;
}

.container .menu {
    display: flex;
    gap: 30px;

}

.container .menu .link {
    padding: 10px 20px;
    font-size: 24px;
    color: white;
    transition: border-bottom 0.2s;
}

.container .menu .link:hover {
    border-bottom: 4px solid white;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}